@{
	ViewData["Title"] = "Home Page";
}

<h1>WELCOME TO MY GAME</h1>
<h2>Please enjoy and have fun</h2>

<a href="Lights">Lights</br></br></br></br></a>



<p>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣀⣀⠀⠀⠀</br>
⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⠟⠛⠛⠻⣦⣠⣤⣤⣤⡀⠀⠀⠀⠀</br>
⠀⠀⠀⠀⠀⠀⠀⢀⣿⠁⠀⠀⠀⠀⠹⠋⠁⠀⠙⣿⠶⣶⣤⣤⣤⣄⡀⠀⠀⠀</br>
⠀⠀⠀⠀⠀⠀⣴⡾⠿⠀⢠⣶⠟⠻⢷⣄⠀⠀⠀⠀⠀⠀⠛⠁⠀⠙⣷⡀⠀⠀</br>
⠀⠀⠀⠀⠀⣸⣟⠀⠀⢀⣿⣇⠀⠀⠀⢿⠟⠛⢷⡄⠀⠀⠀⠀⠀⣀⣿⠃⠀⠀</br>
⠀⠀⠀⢠⡾⠛⠋⠀⢰⡟⠉⢻⣷⣤⣀⠀⠀⠀⢸⡿⠟⠛⢷⡄⠀⠀⢹⡇⠀⠀</br>
⠀⠀⠀⠸⣧⣄⡀⠀⠈⠀⠀⠈⠉⠉⢿⡆⠀⠀⠀⠀⠀⠀⠘⠟⠀⣀⣾⠇⠀⠀</br>
⠀⠀⠀⢸⣿⡻⢿⣷⣦⣤⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⣤⣶⣿⠿⣿⡷⠀⠀</br>
⠀⠀⠀⠀⣿⣇⠀⠈⣿⣿⣿⣿⣶⣤⣄⡀⣀⣤⣴⣾⣿⣿⣿⡏⠀⢰⣿⠇⠀⠀</br>
⠀⠀⠀⠀⢹⣿⡀⠀⢹⣿⣿⣿⠙⠻⢿⣿⡿⠟⠋⢹⣿⣿⣿⠀⠀⣼⣿⠀⠀⠀</br>
⠀⠀⠀⠀⠈⣿⡇⠀⠘⣿⣿⣿⠀⠀⠀⣿⡇⠀⠀⣾⣿⣿⡏⠀⢠⣿⡇⠀⠀⠀</br>
⠀⠀⠀⠀⠀⢹⣿⠀⠀⢿⣿⣿⡆⠀⠀⣿⡇⠀⠀⣿⣿⣿⠃⠀⣼⣿⠀⠀⠀</br>
⠀⠀⠀⠀⠀⠘⣿⡇⠀⢸⣿⣿⡇⠀⠀⣿⡇⠀⠀⣿⣿⡿⠀⢀⣿⡇⠀⠀</br>
⠀⠀⠀⠀⠀⣠⣿⣿⣤⣀⣿⣿⡇⠀⠀⣿⡇⠀⢰⣿⣿⡇⠀⣸⣿⠁⠀⠀</br>
⠀⠀⠀⢀⣾⠋⠀⠀⠈⣻⡿⠿⢷⣦⡀⣿⡇⠀⢸⣿⣿⠀⢀⣿⡏⠀⠀⠀</br>
⠀⠀⠀⣼⡿⠄⠀⠀⢰⡟⠁⠀⠀⢹⣷⣿⡇⠀⢸⣿⡏⢀⣸⣿⠁⠀⠀</br>
⠀⠀⣼⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⣿⡇⠀⣾⣿⣿⡿⠟⠋⠀⠀</br>
⠀⠀⠸⣷⣄⣀⣠⣴⣷⠀⠀⠀⠀⠀⠀⢻⣷⡿⠟⠋⠁⠀⠀⠀⠀</br>
⠀⠀⠀⠀⠉⠉⠉⠁⠻⠷⠶⢿⣦⣤⣴⡿⠃⠀⠀⠀⠀⠀⠀⠀⠀⠀</br>
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠉⠉⠀⠀⠀⠀⠀</p>⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀