@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Momentalne v prestavbe neda sa prihlasovat.</p>
<p>Stranka tvorena tuke studentom cize prosim majte zo mnou trpezlivost.</p>
